.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 1rem;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .infoBox--selected {
    border-top: 10px solid red;
  }
.infoBox--green {
  border-top: 10px solid greenyellow ;
}
  .recovered {
    color: lightgreen;
  }