.app {
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f6fa;
  
}

h3 {
    text-transform: capitalize;
}

.app__left {
    flex: .9;
}




@media (max-width: 720px) {
    .app {
        flex-direction: column;
    }
    .app__right {
        margin-top: 3.3rem;
    }
}